<% content_for :head do %>
  <script type="text/javascript">
    $(document).ready(function() {
      allQuestions = <%= @questions.to_json.html_safe %>;
      allAnimals = <%= @animals.to_json.html_safe %>;

      loadQuestionnaire();
    });

    function onload_complete(msg) {
      // fetch the CSRF meta tag data
      var csrf_param = $('meta[name=csrf-param]').attr('content');
      var csrf_token = $('meta[name=csrf-token]').attr('content');

      // reset the api URL appending the auth token parameter
      webcam.set_api_url('<%= upload_photos_path %>' + '?' + csrf_param + "=" + encodeURI(encodeURI(csrf_token)));
    }

    function upload_complete(msg) {
      webcam.reset();
    }

    webcam.set_swf_url('/webcam.swf');
    webcam.set_api_url('<%= upload_photos_path %>');
    webcam.set_quality(100);
    webcam.set_shutter_sound(true, '/shutter.mp3');
    webcam.set_hook('onLoad', 'onload_complete');
    webcam.set_hook('onComplete', 'upload_complete');
    $('#webcam').html(webcam.get_html(600, 600));
  </script>
<% end %>

<div id="container">
  <div id="welcome">
    <h2>WHICH CONTEMPORARY ARTIST ARE YOU?</h2>
    <a class="cmd big" onclick="navigate_to('survey')">let's find out!</a>
  </div>
  
  <div id="survey">
    <h3 id="question"></h3>
    <ul id="answers"></ul>
    <a class="cmd nav" onclick="nextQuestion();">on to the next</a>
  </div>
  
  <div id="photobooth">
    <h3>What do you look like when feeling contemporary art?</h3> 
    <div id="webcam"></div>
    <%= form_for Photo.new do |f| %>
      <a class="cmd nav" onclick="webcam.snap(); $(this).parent().submit();">okthanks!</a>
    <% end %>
  </div>
  
  <div id="loader">
    <%= render :partial => 'loader' %>
  </div>
  
  <div id="results">
  </div>
</div>