<% content_for :head do %>
  <script type="text/javascript">
    $(document).ready(function() {
      allQuestions = <%= @questions.to_json.html_safe %>;
      allAnimals = <%= @animals.to_json.html_safe %>;

      loadQuestionnaire();
        
      $('#webcam').html(webcam.get_html(600, 600));
    });

    function onload_complete(msg) {
      var csrf_param = $('meta[name=csrf-param]').attr('content');
      var csrf_token = $('meta[name=csrf-token]').attr('content');
      webcam.set_api_url('<%= upload_photos_path %>' + '?' + csrf_param + "=" + encodeURI(encodeURI(csrf_token)));
    }

    function upload_complete(msg) {
      webcam.reset();
    }

    webcam.set_swf_url('/webcam.swf');
    webcam.set_api_url('<%= upload_photos_path %>');
    webcam.set_quality(90);
    webcam.set_shutter_sound(true, '/shutter.mp3');
    webcam.set_hook('onLoad', 'onload_complete');
    webcam.set_hook('onComplete', 'upload_complete');
  </script>
<% end %>

<div id="container">
  <div id="welcome">
    <h2>WHICH CONTEMPORARY ARTIST ARE YOU?</h2>
    <a class="cmd big" onclick="navigate_to('survey')">let's find out!</a>
  </div>
  
  <div id="survey">
    <h3 id="question"></h3>
    <ul id="answers"></ul>
  </div>
  
  <div id="photobooth">
    <h3>What do you look like when considering contemporary art?</h3> 
    <div id="webcam"></div>
    <%= form_for Photo.new, :remote => true, :format => 'js', :html => {'data-type' => 'js'} do |f| %>
      <a class="cmd nav" onclick="upload();">like...this!</a>
    <% end %>
  </div>
  
  <div id="loader">
    <%= render :partial => 'loader' %>
  </div>
  
  <div id="results">
    <h3 id="result_title"></h3>
    <p id="result_description"></p>
    <p id="result_invitation"></p>
    <img id="result_image"></img>
    <a class="cmd nav" onclick="reset();">okthanks!</a>
  </div>
</div>