<% content_for :head do %>
  <script type="text/javascript">
    $(document).ready(function() {
      allQuestions = <%= @questions.to_json.html_safe %>;
      allAnimals = <%= @animals.to_json.html_safe %>;

      loadQuestionnaire();
        
      $('#webcam').html(webcam.get_html(600, 600));
      
      $(".cmd").addClass("ieBlohs");
      $(".cmd").removeClass("ieBlohs");
    });

    function onload_complete(msg) {
      var csrf_param = $('meta[name=csrf-param]').attr('content');
      var csrf_token = $('meta[name=csrf-token]').attr('content');
      webcam.set_api_url('<%= upload_photos_path %>' + '?' + csrf_param + "=" + encodeURI(encodeURI(csrf_token)));
    }

    webcam.set_swf_url('/webcam.swf');
    webcam.set_api_url('<%= upload_photos_path %>');
    webcam.set_quality(90);
    webcam.set_shutter_sound(true, '/shutter.mp3');
    webcam.set_hook('onLoad', 'onload_complete');
    webcam.set_hook('onComplete', 'upload_complete');
  </script>
<% end %>

<div id="container">
  <div id="welcome">
    <h2>WHAT KIND OF CONTEMPORARY ARTIST ARE YOU?</h2>
    <a class="cmd big" onclick="navigate_to('survey')">i have no idea!</a>
  </div>
  
  <div id="survey">
    <h3 id="question"></h3>
    <ul id="answers"></ul>
  </div>
  
  <div id="photobooth">
    <h3>make your best contemporary art face</h3> 
    <div id="webcam"></div>
    <a class="cmd nav" onclick="upload();">boom.</a>
  </div>
  
  <div id="loader">
    <%= render :partial => 'loader' %>
  </div>
  
  <div id="results">
    <h2 id="result_title"></h2>
    <p id="result_description" class="unimportant"></p>
    <img id="snapshot"></img>
    <img id="result_image"></img>
    <p class="caption">i think i see a resemblance...</p>
    <p id="result_invitation" class="important"></p>
    <a id="reset_button" class="cmd nav" onclick="reset();">I AM SO THERE</a>
  </div>
</div>